In [83]:
import pandas as pd
csv_petRegisted = pd.read_csv('data\반려동물등록현황.csv', encoding="cp949")

In [84]:
csv_petRegisted.shape

(729, 14)

In [88]:
df_petRegisted = pd.DataFrame(csv_petRegisted)
df_petRegisted1 = df_petRegisted[['시군명','읍면동명','등록동물수(마리)','(RFID종류)내장형','(RFID종류)외장형','(RFID종류)인식표','동물소유자당등록동물수','데이터기준일자']]
df_petRegisted1

,시군명,읍면동명,등록동물수(마리),(RFID종류)내장형,(RFID종류)외장형,(RFID종류)인식표,동물소유자당등록동물수,데이터기준일자
0,가평군,가평읍,941,596,294,51,NaN,2022-06-14
1,가평군,북면,289,176,93,20,NaN,2022-06-14
2,가평군,상면,399,217,153,29,NaN,2022-06-14
3,가평군,설악면,1111,446,612,53,NaN,2022-06-14
4,가평군,조종면,416,218,161,37,NaN,2022-06-14
...,...,...,...,...,...,...,...,...
724,화성시,청계동,2046,1052,879,115,1.22,2022-05-31
725,화성시,팔탄면,753,345,305,103,1.83,2022-05-31
726,화성시,향남읍,5180,2110,2584,486,1.39,2022-05-31
727,화성시,활초동,15,4,11,0,1.36,2022-05-31
728,화성시,황계동,52,19,13,20,2.17,2022-05-31

In [94]:
mask = df_petRegisted1['읍면동명'].isin(['합계'])
df_petRegisted2 = df_petRegisted1[~mask]

In [95]:
df_petRegisted2

,읍면동명,등록동물수(마리),(RFID종류)내장형,(RFID종류)외장형,(RFID종류)인식표,동물소유자당등록동물수,데이터기준일자
시군명,,,,,,,
가평군,가평읍,941,596,294,51,NaN,2022-06-14
가평군,북면,289,176,93,20,NaN,2022-06-14
가평군,상면,399,217,153,29,NaN,2022-06-14
가평군,설악면,1111,446,612,53,NaN,2022-06-14
가평군,조종면,416,218,161,37,NaN,2022-06-14
...,...,...,...,...,...,...,...
화성시,청계동,2046,1052,879,115,1.22,2022-05-31
화성시,팔탄면,753,345,305,103,1.83,2022-05-31
화성시,향남읍,5180,2110,2584,486,1.39,2022-05-31
화성시,활초동,15,4,11,0,1.36,2022-05-31
화성시,황계동,52,19,13,20,2.17,2022-05-31

In [96]:
del df_petRegisted2['읍면동명']
df_petRegisted2

     등록동물수(마리)  (RFID종류)내장형  (RFID종류)외장형  (RFID종류)인식표  동물소유자당등록동물수     데이터기준일자
시군명
가평군        941          596          294           51          NaN  2022-06-14
가평군        289          176           93           20          NaN  2022-06-14
가평군        399          217          153           29          NaN  2022-06-14
가평군       1111          446          612           53          NaN  2022-06-14
가평군        416          218          161           37          NaN  2022-06-14
..         ...          ...          ...          ...          ...         ...
화성시       2046         1052          879          115         1.22  2022-05-31
화성시        753          345          305          103         1.83  2022-05-31
화성시       5180         2110         2584          486         1.39  2022-05-31
화성시         15            4           11            0         1.36  2022-05-31
화성시         52           19           13           20         2.17  2022-05-31

[725 rows x 6 columns]

In [99]:
df_petRegisted2_sum = df_petRegisted2.groupby('시군명')[['등록동물수(마리)','(RFID종류)내장형','(RFID종류)외장형','(RFID종류)인식표']].sum()
df_petRegisted2_sum

      등록동물수(마리)  (RFID종류)내장형  (RFID종류)외장형  (RFID종류)인식표
시군명
가평군        4017         2170         1566          281
고양시       73477        45561        23560         4356
과천시        2974         1665         1008          301
광명시       20161        11646         6314         2201
광주시       29042        16535         8573         3934
구리시       12381         6719         4759          903
군포시       15480         9161         4449         1897
김포시        7912         3982         3180          750
남양주시      42957        27240        10047         5670
동두천시       6998         3481         3101          416
부천시       56946        30072        21736         5138
성남시       55728        35520        15537         4671
수원시       65330        41348        17243         6739
시흥시       30539        20563         6768         3208
안산시       43079        23260        11704         8115
안성시        9975         4836         3030         2109
안양시       35644        23255         9227         3162
양주시       11848         6115         4419         1314
양평군       13291         6972         3476         2843
여주시        5252         1979         1699         1574
연천군        2020         1082          899          101
오산시       14471         8554         5183          734
용인시       50227        25854        16587         7786
의왕시        6590         3433         1888         1270
의정부시      58997        12679        31835        14483
이천시       13147         6931         4799         1417
파주시       24057        14513         7805         1739
평택시       30234        14683         9733         5818
포천시       11168         7311         2058         1799
하남시       17634        10123         5883         1628
화성시       48264        25260        18912         4092

In [101]:
df_petRegisted2_mean = df_petRegisted2.groupby('시군명')[['등록동물수(마리)','(RFID종류)내장형','(RFID종류)외장형','(RFID종류)인식표','동물소유자당등록동물수']].mean()
df_petRegisted2_mean

         등록동물수(마리)   (RFID종류)내장형   (RFID종류)외장형   (RFID종류)인식표  동물소유자당등록동물수
시군명
가평군     669.500000    361.666667    261.000000     46.833333          NaN
고양시    1386.358491    859.641509    444.528302     82.188679     1.515094
과천시     297.400000    166.500000    100.800000     30.100000     1.329000
광명시    2520.125000   1455.750000    789.250000    275.125000     1.330000
광주시    1320.090909    751.590909    389.681818    178.818182     1.565455
구리시    1768.714286    959.857143    679.857143    129.000000     1.372857
군포시   15480.000000   9161.000000   4449.000000   1897.000000     1.260000
김포시     527.466667    265.466667    212.000000     50.000000     1.304000
남양주시   2684.812500   1702.500000    627.937500    354.375000     1.417500
동두천시    583.166667    290.083333    258.416667     34.666667     1.657500
부천시    2372.750000   1253.000000    905.666667    214.083333     2.630000
성남시    1211.478261    772.173913    337.760870    101.543478     1.318913
수원시    1187.818182    751.781818    313.509091    122.527273     1.356000
시흥시    1017.966667    685.433333    225.600000    106.933333     1.507000
안산시    1435.966667    775.333333    390.133333    270.500000     1.494000
안성시     221.666667    107.466667     67.333333     46.866667     1.478889
안양시    5092.000000   3322.142857   1318.142857    451.714286     1.258571
양주시     538.545455    277.954545    200.863636     59.727273     1.556364
양평군    1107.583333    581.000000    289.666667    236.916667     1.952500
여주시     164.125000     61.843750     53.093750     49.187500     1.612812
연천군     202.000000    108.200000     89.900000     10.100000     1.624000
오산시     602.958333    356.416667    215.958333     30.583333     1.322917
용인시    1395.194444    718.166667    460.750000    216.277778     1.362500
의왕시     599.090909    312.090909    171.636364    115.454545     1.417273
의정부시  58997.000000  12679.000000  31835.000000  14483.000000          NaN
이천시     525.880000    277.240000    191.960000     56.680000     1.551200
파주시     687.342857    414.657143    223.000000     49.685714     1.641714
평택시     817.135135    396.837838    263.054054    157.243243     1.428378
포천시     620.444444    406.166667    114.333333     99.944444     1.954444
하남시     766.695652    440.130435    255.782609     70.782609     1.632609
화성시     928.153846    485.769231    363.692308     78.692308     1.540962

In [102]:
df_petRegisted2_mean.to_csv("df_petRegisted2_mean.csv")
df_petRegisted2_sum.to_csv("df_petRegisted2_sum.csv")

In [ ]:
###########################################################################################################

In [104]:
csv_petSaleCompany = pd.read_csv('data\반려동물판매업체현황.csv', encoding="cp949")

In [106]:
csv_petSaleCompany.shape

(14454, 21)

In [116]:
df_petSaleCompany = pd.DataFrame(csv_petSaleCompany)
df_petSaleCompany1 = df_petSaleCompany[['시군명','인허가일자','영업상태명']]
df_petSaleCompany1

       시군명     인허가일자 영업상태명
0      가평군  20080909    말소
1      가평군  20160517    말소
2      가평군  20170227    말소
3      가평군  20150120    말소
4      가평군  20100311    말소
...    ...       ...   ...
14449  화성시  20211119    폐업
14450  화성시  20170530    휴업
14451  NaN  20200909    말소
14452  NaN  20220126    말소
14453  NaN  20200909    말소

[14454 rows x 3 columns]

In [117]:
df_petSaleCompany1.set_index('시군명', inplace = True)

In [118]:
df_petSaleCompany1

        인허가일자 영업상태명
시군명
가평군  20080909    말소
가평군  20160517    말소
가평군  20170227    말소
가평군  20150120    말소
가평군  20100311    말소
..        ...   ...
화성시  20211119    폐업
화성시  20170530    휴업
NaN  20200909    말소
NaN  20220126    말소
NaN  20200909    말소

[14454 rows x 2 columns]

In [134]:
mask = df_petSaleCompany1['영업상태명'].isin(['정상'])

In [135]:
df_petSaleCompany2 = df_petSaleCompany1[mask]

In [136]:
df_petSaleCompany2['업체수'] = 1

C:\Users\admin\AppData\Local\Temp\ipykernel_22616\3406427143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_petSaleCompany2['업체수'] = 1

In [137]:
df_petSaleCompany2

        인허가일자 영업상태명  업체수
시군명
가평군  20181106    정상    1
가평군  20180622    정상    1
가평군  20180518    정상    1
가평군  20170227    정상    1
가평군  20190412    정상    1
..        ...   ...  ...
화성시  20170126    정상    1
화성시  20211206    정상    1
화성시  20211207    정상    1
화성시  20211119    정상    1
화성시  20170831    정상    1

[976 rows x 3 columns]

In [138]:
df_petSaleCompany_sum = df_petSaleCompany2.groupby('시군명')['업체수'].sum()
df_petSaleCompany_sum

시군명
가평군      22
고양시      59
과천시       1
광주시      33
구리시      11
군포시       1
김포시     111
남양주시     41
동두천시      7
부천시       8
성남시       2
수원시       7
시흥시       8
안산시      10
안성시      44
안양시      17
양주시      37
양평군      91
여주시      56
연천군      36
오산시       2
용인시      42
의왕시       2
의정부시      4
이천시      47
파주시     101
평택시      38
포천시      60
하남시       1
화성시      77
Name: 업체수, dtype: int64

In [140]:
# 어느곳에 단골이 많은지?
df_petSaleCompany_openDays = df_petSaleCompany2.sort_values('인허가일자')

In [141]:
df_petSaleCompany_sum.to_csv("df_petSaleCompany_sum.csv")
df_petSaleCompany_openDays.to_csv("df_petSaleCompany_openDays.csv")

In [ ]:
###########################################################################################################

In [142]:
csv_population = pd.read_csv('data\주민등록인구집계현황.csv', encoding="cp949")

In [144]:
df_population = pd.DataFrame(csv_population)

In [164]:
df_population1 = df_population[['월','행정구역구분명','행정구역명','총 인구수','0~9세','10~19세','20~29세','30~39세','40~49세','50~59세','60~69세','70~79세']]

In [165]:
df_population1

,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세
0,9,도,경기도,13574353,1054380,1327378,1753988,1880750,2286448,2291043,1721533,803681
1,9,시군,경기도 가평군,62168,3047,4471,6009,5406,7722,11043,13153,6834
2,9,읍면동,경기도 가평군 가평읍,19532,1062,1677,2125,1804,2649,3397,3579,1890
3,9,읍면동,경기도 가평군 북면,3821,126,177,224,231,368,694,1054,558
4,9,읍면동,경기도 가평군 상면,5688,153,244,512,389,560,1112,1490,773
...,...,...,...,...,...,...,...,...,...,...,...,...
107481,1,읍면동,경기도 화성시 팔탄면,9900,869,869,1694,1671,1735,1273,922,665
107482,1,읍면동,경기도 화성시 향남읍,21100,2828,2288,3151,4316,3415,2234,1549,996
107483,1,읍면동,경기도 화성시 향남읍,21100,2828,2288,3151,4316,3415,2234,1549,996
107484,1,읍면동,경기도 화성시 화산동,23684,3727,2793,3515,5424,3869,2183,1306,698
107485,1,읍면동,경기도 화성시 화산동,23684,3727,2793,3515,5424,3869,2183,1306,698

In [166]:
mask = df_population1['행정구역구분명'].isin(['시군'])
mask

0         False
1          True
2         False
3         False
4         False
          ...
107481    False
107482    False
107483    False
107484    False
107485    False
Name: 행정구역구분명, Length: 107486, dtype: bool

In [170]:
mask1 = df_population1['월'].isin([9])
mask1

0          True
1          True
2          True
3          True
4          True
          ...
107481    False
107482    False
107483    False
107484    False
107485    False
Name: 월, Length: 107486, dtype: bool

In [172]:
df_population2 = df_population1[mask]
df_population3 = df_population2[mask1]

C:\Users\admin\AppData\Local\Temp\ipykernel_22616\1979603847.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_population3 = df_population2[mask1]

In [174]:
df_population3

,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세
1,9,시군,경기도 가평군,62168,3047,4471,6009,5406,7722,11043,13153,6834
8,9,시군,경기도 고양시,1079277,76769,101359,144797,142834,175981,197670,136156,61848
56,9,시군,경기도 과천시,78301,7252,7477,10114,11678,11865,13185,9849,4212
63,9,시군,경기도 광명시,290756,21241,29236,36023,39235,49324,48986,39617,17868
83,9,시군,경기도 광주시,388893,32763,34308,44419,55022,68394,65976,53532,23427
...,...,...,...,...,...,...,...,...,...,...,...,...
101689,9,시군,경기도 파주시,309666,38864,39551,41435,57327,53487,33082,25023,15570
101704,9,시군,경기도 평택시,406463,50356,58442,55304,76102,71693,41872,28980,17973
101727,9,시군,경기도 포천시,159975,16613,21770,20694,24965,29991,19990,14110,8874
101742,9,시군,경기도 하남시,141298,14588,17569,21697,24613,25486,19324,10974,5130
101753,9,시군,경기도 화성시,426609,66651,51552,57627,95732,68729,39606,25454,15909

In [175]:
df_population3.set_index('월')

,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세
월,,,,,,,,,,,
9,시군,경기도 가평군,62168,3047,4471,6009,5406,7722,11043,13153,6834
9,시군,경기도 고양시,1079277,76769,101359,144797,142834,175981,197670,136156,61848
9,시군,경기도 과천시,78301,7252,7477,10114,11678,11865,13185,9849,4212
9,시군,경기도 광명시,290756,21241,29236,36023,39235,49324,48986,39617,17868
9,시군,경기도 광주시,388893,32763,34308,44419,55022,68394,65976,53532,23427
...,...,...,...,...,...,...,...,...,...,...,...
9,시군,경기도 파주시,309666,38864,39551,41435,57327,53487,33082,25023,15570
9,시군,경기도 평택시,406463,50356,58442,55304,76102,71693,41872,28980,17973
9,시군,경기도 포천시,159975,16613,21770,20694,24965,29991,19990,14110,8874
9,시군,경기도 하남시,141298,14588,17569,21697,24613,25486,19324,10974,5130
9,시군,경기도 화성시,426609,66651,51552,57627,95732,68729,39606,25454,15909

In [177]:
del df_population3['월']

In [180]:
df_population3
del df_population3['행정구역구분명']
df_population3

KeyError: '행정구역구분명'

In [185]:
df_population3.set_index('행정구역명', inplace = True)

KeyError: "None of ['행정구역명'] are in the columns"

In [186]:
df_population3

,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세
행정구역명,,,,,,,,,
경기도 가평군,62168,3047,4471,6009,5406,7722,11043,13153,6834
경기도 고양시,1079277,76769,101359,144797,142834,175981,197670,136156,61848
경기도 과천시,78301,7252,7477,10114,11678,11865,13185,9849,4212
경기도 광명시,290756,21241,29236,36023,39235,49324,48986,39617,17868
경기도 광주시,388893,32763,34308,44419,55022,68394,65976,53532,23427
...,...,...,...,...,...,...,...,...,...
경기도 파주시,309666,38864,39551,41435,57327,53487,33082,25023,15570
경기도 평택시,406463,50356,58442,55304,76102,71693,41872,28980,17973
경기도 포천시,159975,16613,21770,20694,24965,29991,19990,14110,8874
경기도 하남시,141298,14588,17569,21697,24613,25486,19324,10974,5130
경기도 화성시,426609,66651,51552,57627,95732,68729,39606,25454,15909