# 반려동물 자료

In [49]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# 데이터 기준 일자 2022-06-14
pet_data = pd.read_csv('data1/반려동물등록현황.csv', encoding='euc-kr')
pet_data

,시군명,읍면동명,등록동물수(마리),(등록주체)시군구등록,(등록주체)대행업체등록,(등록주체)기타,(RFID종류)내장형,(RFID종류)외장형,(RFID종류)인식표,등록품종수,등록소유자수,동물소유자당등록동물수,해당동의등록대행업체수,데이터기준일자
0,가평군,가평읍,941,NaN,NaN,NaN,596,294,51,NaN,85.0,NaN,3.0,2022-06-14
1,가평군,북면,289,NaN,NaN,NaN,176,93,20,NaN,185.0,NaN,0.0,2022-06-14
2,가평군,상면,399,NaN,NaN,NaN,217,153,29,NaN,243.0,NaN,0.0,2022-06-14
3,가평군,설악면,1111,NaN,NaN,NaN,446,612,53,NaN,625.0,NaN,1.0,2022-06-14
4,가평군,조종면,416,NaN,NaN,NaN,218,161,37,NaN,274.0,NaN,1.0,2022-06-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,화성시,청계동,2046,90.0,1956.0,0.0,1052,879,115,66.0,1679.0,1.22,4.0,2022-05-31
725,화성시,팔탄면,753,87.0,665.0,1.0,345,305,103,62.0,412.0,1.83,1.0,2022-05-31
726,화성시,향남읍,5180,314.0,4863.0,3.0,2110,2584,486,103.0,3719.0,1.39,6.0,2022-05-31
727,화성시,활초동,15,0.0,15.0,0.0,4,11,0,7.0,11.0,1.36,0.0,2022-05-31
728,화성시,황계동,52,16.0,36.0,0.0,19,13,20,15.0,24.0,2.17,0.0,2022-05-31

In [10]:
pet = pet_data.loc[:,['시군명','읍면동명','등록동물수(마리)','등록소유자수','해당동의등록대행업체수']]
pet

     시군명 읍면동명  등록동물수(마리)  등록소유자수  해당동의등록대행업체수
0    가평군  가평읍        941    85.0          3.0
1    가평군   북면        289   185.0          0.0
2    가평군   상면        399   243.0          0.0
3    가평군  설악면       1111   625.0          1.0
4    가평군  조종면        416   274.0          1.0
..   ...  ...        ...     ...          ...
724  화성시  청계동       2046  1679.0          4.0
725  화성시  팔탄면        753   412.0          1.0
726  화성시  향남읍       5180  3719.0          6.0
727  화성시  활초동         15    11.0          0.0
728  화성시  황계동         52    24.0          0.0

[729 rows x 5 columns]

In [14]:
town_num = pet.drop_duplicates(['시군명'], keep='first', inplace=False, ignore_index=True)
town = list(town_num['시군명'])
town
print(len(town))

31

In [37]:
ani_list = []
for i in town:
    ani_sum = pet[pet['시군명'].str.contains(i)]['등록동물수(마리)'].sum()
#     ani_list.append([)
#     ani_list.append(ani_sum)
    ani_list.append([i, ani_sum])
print(ani_list)

[['가평군', 4017], ['고양시', 73477], ['과천시', 2974], ['광명시', 20161], ['광주시', 29042], ['구리시', 12381], ['군포시', 15480], ['김포시', 7912], ['남양주시', 42957], ['동두천시', 6998], ['부천시', 113892], ['성남시', 55728], ['수원시', 65330], ['시흥시', 30539], ['안산시', 86158], ['안성시', 19950], ['안양시', 35644], ['양주시', 54805], ['양평군', 13291], ['여주시', 5252], ['연천군', 2020], ['오산시', 14471], ['용인시', 50227], ['의왕시', 6590], ['의정부시', 58997], ['이천시', 13147], ['파주시', 24057], ['평택시', 60468], ['포천시', 11168], ['하남시', 17634], ['화성시', 48264]]

In [41]:
ani_df = pd.DataFrame(ani_list)
ani_df

       0       1
0    가평군    4017
1    고양시   73477
2    과천시    2974
3    광명시   20161
4    광주시   29042
5    구리시   12381
6    군포시   15480
7    김포시    7912
8   남양주시   42957
9   동두천시    6998
10   부천시  113892
11   성남시   55728
12   수원시   65330
13   시흥시   30539
14   안산시   86158
15   안성시   19950
16   안양시   35644
17   양주시   54805
18   양평군   13291
19   여주시    5252
20   연천군    2020
21   오산시   14471
22   용인시   50227
23   의왕시    6590
24  의정부시   58997
25   이천시   13147
26   파주시   24057
27   평택시   60468
28   포천시   11168
29   하남시   17634
30   화성시   48264

In [42]:
ani_df.sort_values(by=[1],ascending=False)

       0       1
10   부천시  113892
14   안산시   86158
1    고양시   73477
12   수원시   65330
27   평택시   60468
24  의정부시   58997
11   성남시   55728
17   양주시   54805
22   용인시   50227
30   화성시   48264
8   남양주시   42957
16   안양시   35644
13   시흥시   30539
4    광주시   29042
26   파주시   24057
3    광명시   20161
15   안성시   19950
29   하남시   17634
6    군포시   15480
21   오산시   14471
18   양평군   13291
25   이천시   13147
5    구리시   12381
28   포천시   11168
7    김포시    7912
9   동두천시    6998
23   의왕시    6590
19   여주시    5252
0    가평군    4017
2    과천시    2974
20   연천군    2020

In [72]:
pet_store = pd.read_csv('data1/반려동물판매업체현황.csv',encoding='cp949')
pet_store

,시군명,사업장명,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,폐업일자,소재지시설전화번호,소재지면적정보,도로명우편번호,...,소재지지번주소,소재지우편번호,WGS84위도,WGS84경도,업태구분명정보,X좌표값,Y좌표값,축산업무구분명,축산고유번호,권리주체일련번호
0,가평군,예쁜강아지,20080909,NaN,4,말소,20220526.0,NaN,NaN,NaN,...,경기도 가평군 가평읍 읍내리 ***-*번지,NaN,NaN,NaN,NaN,245212.733716,480846.133947,동물관련영업,NaN,000
1,가평군,자이언트 펫,20160517,NaN,4,말소,20220526.0,031-585-7003,0.0,12457.0,...,경기도 가평군 청평면 대성리 ***-**번지,12457.0,NaN,NaN,NaN,233842.021227,466192.802959,동물관련영업,NaN,000
2,가평군,메이플켄넬,20170227,NaN,4,말소,NaN,585-0588,0.0,12416.0,...,경기도 가평군 가평읍 대곡리 ***-*,NaN,NaN,NaN,NaN,243247.301370,480064.513852,동물관련영업,0.0,000
3,가평군,리얼펫독,20150120,NaN,4,말소,20220526.0,NaN,0.0,12467.0,...,경기도 가평군 설악면 신천리 ***-*,NaN,NaN,NaN,NaN,243200.199051,463336.290376,동물관련영업,NaN,000
4,가평군,강아지나라,20100311,NaN,4,말소,20220526.0,NaN,NaN,NaN,...,경기도 가평군 청평면 청평리 ***-**번지,NaN,NaN,NaN,NaN,236894.589288,470644.366611,동물관련영업,NaN,000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14449,화성시,금은이네농장,20211119,NaN,2,폐업,20220728.0,NaN,0.0,18562.0,...,경기도 화성시 우정읍 운평리 ***,18562.0,NaN,NaN,NaN,180335.240868,397423.594307,동물관련영업,0.0,000
14450,화성시,냥이와 양이,20170530,NaN,1,휴업,NaN,NaN,0.0,18556.0,...,경기도 화성시 서신면 홍법리 ***-*,18556.0,NaN,NaN,NaN,175386.850094,407462.012505,동물관련영업,0.0,000
14451,NaN,학교종이 댕댕댕(24거3849),20200909,NaN,4,말소,20220526.0,NaN,0.0,31560.0,...,충청남도 아산시 법곡동 *-**,31560.0,NaN,NaN,NaN,201030.437190,362598.297324,동물관련영업,NaN,000
14452,NaN,쁘띠살롱,20220126,NaN,4,말소,20220526.0,NaN,0.0,21548.0,...,인천광역시 남동구 구월동 **-**,NaN,NaN,NaN,NaN,174682.069911,439615.145968,동물관련영업,0.0,000
14453,NaN,학교종이 댕댕댕(24거3849),20200909,NaN,4,말소,20220701.0,NaN,0.0,31560.0,...,충청남도 아산시 법곡동 *-**,31560.0,NaN,NaN,NaN,201030.437190,362598.297324,NaN,NaN,NaN

In [85]:
store_num = pet_store.loc[:,['시군명','사업장명','영업상태명']]
store = store_num[(store_num['영업상태명'])=='정상']
store

       시군명         사업장명 영업상태명
56     가평군          러브캣    정상
57     가평군     가평가족동물학교    정상
58     가평군       행복한고양이    정상
59     가평군           굿독    정상
60     가평군       유로애견농원    정상
...    ...          ...   ...
14431  화성시          샤르망    정상
14432  화성시     오스카코리아켄넬    정상
14433  화성시  Steel Sprit    정상
14434  화성시      BLUE&CO    정상
14435  화성시    레옹 앤드 사라용    정상

[976 rows x 3 columns]

In [80]:
store = store_num.drop_duplicates(['시군명'], keep='first', inplace=False, ignore_index=True)
shop = list(store['시군명'])
shop
print(len(shop))

32

In [64]:
shop_df = pd.DataFrame(shop)
shop_df.columns = ['행정구역명']
shop_df

   행정구역명
0    가평군
1    고양시
2    과천시
3    광주시
4    구리시
5    군포시
6    김포시
7   남양주시
8   동두천시
9    부천시
10   성남시
11   수원시
12   시흥시
13   안산시
14   안성시
15   안양시
16   양주시
17   양평군
18   여주시
19   연천군
20   오산시
21   용인시
22   의왕시
23  의정부시
24   이천시
25   파주시
26   평택시
27   포천시
28   하남시
29   화성시